/* ===== GOOGLE FONTS ===== */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* ===== VARIABLES CSS ===== */
:root {
    /* ===== Colores ===== */
    --fondo-verde: #376d0d;
    --blanco: #ffffff;
    --color-principal:  #54dc45;
    --color-input:#808488;
    --color-borde:#DADCE0;

    --fondo-gris: #222;
    --sub-menu: #2c2c2c;
    --color-sombreado:#458911;

    /* ===== Fuente y Tipografía ===== */
    --fuente-principal: 'Roboto',sans-serif;
    --tamaño-fuente-normal: 1rem; 
    --tamaño-fuente-pequeña: 0.75rem;

/* ===== Variables TABLA ===== */

    --tbl-status-available-color:greenyellow;
    --tbl-status-away-color: lightsalmon;
    --tbl-status-offline-color:lightgray;

    --tbl-padding:12px;
    --tbl-padding-s:6px;
    --tbl-padding-xs:2px;

    --tbl-border-radius: 3px;

    --tbl-background-color-container: #2a3338;
    --tbl-border-color:var(--color-principal);
    --tbl-bg-color:var(--color-sombreado);
    --tbl-text-color:var(--blanco);
    --tbl-bg-active-button:var(--color-sombreado);
    --tbl-text-color-button:var(--blanco);
    --tbl-text-color-active-button:var(--blanco);
    --tbl-hover-cell-color:var(--color-sombreado);
    --tbl-even-row-color:#212348;
    --tbl-odd-row-color:#575a5d;
    --tbl-focus-color:var(--color-sombreado);
    --tbl-input-background-color:var(--fondo-gris);
    --tbl-input-color:var(--blanco);
}

/* ===== DISEÑO DE LA TABLA ===== */

.tabla-contenedor{
    border-radius:var(--tbl-border-radius);
    color:var(--tbl-text-color);
    width: 100%;
    margin: 0 auto;
    font-size:var(--tamaño-fuente-normal);
}

.tabla-contenedor .pie-tabla{
    padding:var(--tbl-padding);
    display:flex;
    align-items: baseline;
}

.tabla-contenedor .pie-tabla .lista-elementos{ 
    width:50%;
    color:var(--fondo-gris)
}

.tabla-contenedor .pie-tabla .lista-elementos .n-entradas{
    border: 1px solid var(--color-principal);
    height: 30px;
    border-radius: 0.4rem;
    width: 50px;
    padding: 5px;
}

.tabla-contenedor .pie-tabla .paginas{ 
    margin-left:auto;
    margin-right: 0;
    width: 50%;
}

.tabla-contenedor .pie-tabla .paginas ul{ 
    margin: 0;
    padding: 0;
    display:flex;
    align-items: baseline;
    justify-content: flex-end;
}

.tabla-contenedor .pie-tabla .paginas ul li{ 
    display: inline-block;
    margin:0 var(--dt-padding-xs);
    color: var(--fondo-gris);
}

.tabla-contenedor .pie-tabla .paginas ul li button{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--tbl-border-radius);
    background:transparent;
    cursor: pointer;
    -webkit-border-radius: var(--tbl-border-radius);
    -moz-border-radius: var(--tbl-border-radius);
    -ms-border-radius: var(--tbl-border-radius);
    -o-border-radius: var(--tbl-border-radius);
    border: 1px solid var(--color-principal)
}

.tabla-contenedor .pie-tabla .paginas ul li button:hover{ 
    background:var(--tbl-bg-active-button);
    color:var(--tbl-text-color-active-button);
}

.tabla-contenedor .pie-tabla .paginas ul li span.active{
    background-color:var(--tbl-bg-color);
    border-radius:var(--tbl-border-radius);
    -webkit-border-radius:var(--tbl-border-radius);
    -moz-border-radius:var(--tbl-border-radius);
    -ms-border-radius:var(--tbl-border-radius);
    -o-border-radius:var(--tbl-border-radius);
    color:var(--blanco)
}

.tabla-contenedor .pie-tabla .paginas ul li button,
.tabla-contenedor .pie-tabla .paginas ul li span{ 
    padding: var(--tbl-padding-s) var(--tbl-padding);
}

.tabla-contenedor .tabla{
    border-collapse:collapse;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.tabla-contenedor .tabla,
.tabla-contenedor .tabla th,
.tabla-contenedor .tabla td{
    padding: var(--tbl-padding) var(--tbl-padding);
}

.tabla-contenedor .tabla th{
    font-weight: bolder;
    text-align: left;
    background-color:var(--color-principal);
}

.tabla-contenedor .tabla tbody tr:nth-child(odd){
    background-color: var(--tbl-odd-row-color);;
}

.tabla-contenedor .tabla tbody tr:nth-child(even){
    background-color: var(--tbl-even-row-color);
}

.tabla-contenedor .tabla tbody tr:hover{
    background-color: var(--tbl-hover-cell-color);
    border: solid 2px var(--tbl-border-color);
}

.tabla-contenedor .tabla tbody tr .avaible::after,
.tabla-contenedor .tabla tbody tr .away::after,
.tabla-contenedor .tabla tbody tr .offline::after{
    display: inline-block;
    vertical-align:middle;
}

.tabla-contenedor .tabla tbody tr .available::after{
    content: 'Disponible';
    color: var(--tbl-status-available-color);
}

.tabla-contenedor .tabla tbody tr .away::after{
    content: 'Ausente';
    color: var(--tbl-status-away-color);
}

.tabla-contenedor .tabla tbody tr .offline::after{
    content: 'Desconectado';
    color: var(--tbl-status-offline-color);
}

.tabla-contenedor .tabla tbody tr .available::before,
.tabla-contenedor .tabla tbody tr .away::before,
.tabla-contenedor .tabla tbody tr .offline::before{
    content:'';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align:middle;
}

.tabla-contenedor .tabla tbody tr .available::before{
    background-color: var(--tbl-status-available-color);
}

.tabla-contenedor .tabla tbody tr .away::before{
    background-color: var(--tbl-status-away-color);
}

.tabla-contenedor .tabla tbody tr .offline::before{
    background-color: var(--tbl-status-offline-color);
}

/* ===== BASE ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-content{
    padding-top: 15px;
    font-family: var(--fuente-principal); 
    font-size: var(--tamaño-fuente-normal);
    background-image: url(../imgs/fixmort-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    height: 100%;
    overflow: auto;
    position: relative;
    top: 60px;
}

.form-content::-webkit-scrollbar{
    overflow: visible;
    display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

/* ===== FORMULARIO ===== */
.l-form{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 2.5rem auto;
}

.formulario{
    width: 360px;
    padding: 0 2rem 2.5rem;
    border-radius: 1rem;
    background: var(--blanco);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.formulario__titulo{
    font-weight: 400;
    text-align: center;
    margin:1.5rem auto;
    text-decoration: underline;
    color:var(--color-principal);
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}

.flexbox{
    display:flex;
    flex-flow: row wrap;
    gap:1.2rem;
    width: 100%;
}

.formulario__div{
    position: relative;
    height:48px;
    margin-bottom: 1rem;
    width: 32%;
}

.formulario__div-botones{
    position: relative;
    height:48px;
    margin-top: 1.5rem;
}

.formulario__div > .formulario__select-input{
    padding:0 1rem;
    border: 1px solid var(--color-borde);
    outline:none;
    transition:0.2s;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -ms-transition:0.2s;
    -o-transition:0.2s;
}

.formulario__div > .formulario__select-label{
    position:absolute;
    top:10px;
    left:0;
    font-size: var(--tamaño-fuente-normal);
    transition:0.2s;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -ms-transition:0.2s;
    -o-transition:0.2s;
}

.formulario__input{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: none;
    /*color: #c6c6c6;*/
    font-size: var(--tamaño-fuente-normal);
    border: 1px solid var(--color-borde);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    outline:none;
    padding:1rem;
    z-index: 1;
}
.dvi{
    text-align: start;
    justify-content: start;
    align-items: initial;
    position: initial;
}
.formulario__select-input{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: none;
    /*color: #c6c6c6;*/
    font-size: var(--tamaño-fuente-normal);
    border: 1px solid var(--color-borde);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    outline:none;
    padding:1rem;
    z-index: 1;
}

.formulario__label{
    position:absolute;
    left:1rem;
    top:0.8rem;
    padding:0 0.25rem;
    background-color: var(--blanco);
    color: var(--color-input);
    font-size: var(--tamaño-fuente-normal);
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
}

.formulario__select-label{
    position:absolute;
    left:1rem;
    top:0.8rem;
    padding:0 0.25rem;
    background-color: var(--blanco);
    color: var(--color-input);
    font-size: var(--tamaño-fuente-normal);
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
}

.formulario__boton{
    padding: 0.75rem 2rem;
    outline:none;
    border:none;
    background-color: var(--color-principal);
    color: var(--blanco);
    font-size: var(--tamaño-fuente-normal);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    cursor: pointer;
    transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    width: 35%;
}

.formulario__boton-single{
    display:inline-flex;
    padding: 0.75rem 2rem;
    outline:none;
    border:none;
    background-color: var(--color-principal);
    color: var(--blanco);
    font-size: var(--tamaño-fuente-normal);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    cursor: pointer;
    transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-transform:uppercase;
    position: relative;
    overflow: hidden;
}

.formulario__boton-single>span{
    position: relative;
    z-index:2;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.formulario__boton:hover{
    box-shadow: 2px 4px 5px 2px rgb(0 0 0 / 15%)
}

.formulario__boton-single:hover{
    box-shadow: 2px 4px 5px 2px rgb(0 0 0 / 15%);
}

.formulario__boton-single.slide::after{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: calc(-100% - 48px);
    border-bottom: 48px solid var(--fondo-verde);
    border-right: 48px solid transparent;
    transition:all 0.4s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
}

.formulario__boton-single.slide:hover::after{
    left: 0;
}

.formulario__input:focus + .formulario__label{
    top:-0.5rem;
    left:0.8rem;
    color: var(--color-principal);
    font-size: var(--tamaño-fuente-pequeña);
    font-weight: 500;
    z-index: 10;
}

.formulario__select-input:not(:focus) ~ .formulario__select-label{
    top: 0.8rem;
    left:0.8rem;
    color: var(--color-input);
    font-size: var(--tamaño-fuente-normal);
    font-weight: 500;
    z-index: 10;
}

.formulario__input:not(:placeholder-shown).formulario__input:not(:focus)+ .formulario__label{
    top:-0.5rem;
    left:0.8rem;
    font-size: var(--tamaño-fuente-pequeña);
    font-weight: 500;
    z-index: 10;
}

.formulario__select-input:focus ~ .formulario__select-label,
.formulario__select-input.valid ~ .formulario__select-label{
    top:-0.5rem;
    left:0.8rem;
    font-size: var(--tamaño-fuente-pequeña);
    font-weight: 500;
    z-index: 10;
}

.formulario__input:focus{
    border:1.5px solid var(--color-principal)
}

.formulario__select-input:focus{
    border:1.5px solid var(--color-principal)
}

.formulario__select-input:focus ~ .formulario__select-label{
    color: var(--color-principal);
    top:-0.5rem;
}

.lol{
    /* display:inline-flex; */
    /* height: 50px; */
    padding: 0;
    border: none;
    outline: none;
    border-radius: 5px;
    /* background:black; */
    overflow: hidden;
    font-size: 16px;
    cursor:pointer;
}


.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #6ab372;
    padding-top: 20px;
} 

@media (min-width:500px) and (max-width:1920px){
    .formulario{
        width: 85%;
    }
}

@media (min-width:500px) and (max-width:1265px){
    .formulario__div{
        width: 100%;
    }
}

@media (min-width:1265px) and (max-width:1770px){
    .formulario__div{
        width: 46%;
    }
}

@media (min-width:1921px) and (max-width:3800px){
    .formulario{
        width: 85%;
    }
}